.booking-title {
  font-size: 3em;
  padding-top: 3em;
}

.booking-subtitle {
  font-size: 1.5em;
  margin-top: -1em;
}

.booking {
  text-align: center;
  background-image: url('../images/room.jpg');
  min-height: 100vh;
  background-size: cover;
  padding-bottom: 5em;
}
