.table {
  margin:auto;
  text-align: center;
  display: flex;
  max-width: 50%;
  justify-content:space-around;
}

.table button {
  margin: 1em;
  color: #4e4c4c;
  background-color: #e5e5e5;
  border-radius: 15px;
  height: 6rem;
  width: 7rem;
}
