.table-buttons {
  margin:auto;
  display: flex;
  max-width: 40%;
  justify-content: space-around;
}

.button {
  color: #4e4c4c;
  background-color: #e5e5e5;
  border: 1px solid #c7c3c3;
  border-radius: 15px;
  width: 4em;
  height: 3em;
  margin: -1em auto 0em auto;
}

.button:disabled {
  background-color: #f3f2f2;
  border: 1px solid #f3f2f2;
}

.table-paragraph {
  margin-bottom: 3em;
}

.table-next {
  margin-top: 3em;
  width: 10em;
}

.table {
  margin-top: 5em;
}
