.table-buttons {
  margin:auto;
  display: flex;
  max-width: 40%;
  justify-content: space-around;
}

.button {
  color: #4e4c4c;
  background-color: #f7f7f7;
  border: 1px solid #c7c3c3;
  border-radius: 15px;
  width: 4em;
  height: 3em;
  margin: -1em auto 0em auto;
}

.button:disabled {
  background-color: #e1e1e1;
  border: 1px solid #d5d5d5;
}

.table-paragraph {
  font-weight: bold;
  margin-bottom: 2em;
}

.table-next {
  margin-top: 3em;
  width: 10em;
}

.table {
  margin-top: 3em;
}

.max-table {
  color: red;
  font-size: 22px;
}
