.description {
  margin: 6em auto;
}

.description-paragraph {
  max-width: 80%;
  text-align: center;
  margin: auto;
  font-size: 18px;
  margin: 7em auto 4em auto;
  line-height: 25px;
}


.btn-ord-book {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  background-color: black;
  width: 9em;
  height: 4em;
  margin: 2em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
