.description {
  margin: 3em 1em;
}

.btn-ord-book {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  background-color: black;
  width: 9em;
  height: 4em;
  margin: 2em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
