.image-holder {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.pizzabackground {
  background-image: url('../images/pizza.jpg');
}

.burgerbackground {
  background-image: url('../images/burger.jpg');
}

.drinksbackground {
  background-image: url('../images/drinks.jpg');
}

.cookiesbackground {
  background-image: url('../images/cookies.jpg');
}
